Package: [[name]]
Version: [[version]]
Section: base
Priority: optional
Architecture: all
Depends: openjdk-7-jre-headless, jetty-runner (= 9.1.0)
Maintainer: Charlie Knudsen <charlie.knudsen@gmail.com>
Description: Grails Blog Frontend
